html {
  font-size: 16px;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
}

p {
  line-height: 1.625;
  color: hsl(var(--muted-foreground));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  letter-spacing: -0.025em;
}

h3 {
  font-weight: 600;
}

section {
  margin-bottom: 3.5rem !important;
}

.container {
  max-width: 896px;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

.hero {
  text-align: center;
  padding-block: 6rem 3rem;
}

.hero p {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  color: hsl(var(--muted-foreground));
}

.hero address {
  gap: 0.35rem;
  display: flex;
  margin-top: 0.25rem;
  align-items: center;
  margin-bottom: 1.25rem;
  justify-content: center;
  color: hsl(var(--muted-foreground));
}

.hero address svg {
  width: 1rem;
}

.social-links {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links svg {
  width: 1.5rem;
}

.social-links a {
  color: hsl(var(--muted-foreground));
  transition: color 300ms ease-in-out;
}

.social-links a:hover {
  color: hsl(var(--foreground));
}

.timeline {
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
}

.timeline time {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(var(--muted-foreground));
}

.timeline article {
  margin-left: 2.5rem;
}

.timeline article h3 {
  margin-bottom: 0.5rem;
}

.timeline article ul {
  margin-top: 0.4rem;
  font-size: 0.875rem;
  padding-left: 1.125rem;
  line-height: 1.25rem;
  list-style-type: disc;
  list-style-position: inside;
  list-style-position: outside;
  color: hsl(var(--muted-foreground));
}

.timeline > li {
  position: relative;
}

.timeline article li:not(:first-child) {
  margin-top: 0.25rem;
}

.timeline .logo {
  top: 2px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  position: absolute;
  border-radius: 100%;
  background-color: black;
  box-shadow: 0 0 0 4px white;
}

.timeline .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.timeline > li::before {
  top: 2px;
  left: 11px;
  width: 2px;
  content: "";
  position: absolute;
  height: calc(100% + 40px);
  background-color: #e5e5e5;
}

.timeline > li:last-child::before {
  height: 100%;
}

@media (min-width: 768px) {
  .hero {
    text-align: left;
    padding-block: 8rem 3.5rem;
  }

  .hero address {
    justify-content: flex-start;
  }

  .social-links {
    justify-content: flex-start;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 0.35rem;
  }
}
